
<h3>All Categories</h3>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>IsAvailable</th>
    </tr>
    <tr>

        <td>1</td>
        <td>Shirt</td>
        <td>Yes</td>
    </tr>

    <tr>

        <td>2</td>
        <td>Home Appliences</td>
        <td>No</td>
    </tr>
</table>


