
@model _02_Views_InMVC.Models.Product         
                                                       @*this View is strongly typed with Product Model*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
</head>
<body>
    <div> 

        <h1> Index 4 View Content </h1>

        <p>Id : @Model.Id</p>
        <p>Name : @Model.Name</p>
        <p>Price : @Model.Price</p>
    </div>
</body>
</html>
